<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loan.time">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission
        android:name="${applicationId}.andpermission.bridge"
        android:permissionGroup="${applicationId}.andpermission"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.andpermission.bridge" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/loan_logo"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:name=".App"
        android:networkSecurityConfig="@xml/network_security"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/loan_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.list.ListActivity" />
        <activity android:name=".ui.web.WebActivity"></activity>
        <activity android:name=".ui.authority.AuthorityActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.first.FirstActivity"></activity>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".permission.FileProvider"
            android:authorities="${applicationId}.file.path.share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/permission_file_paths" />
        </provider>
        <service
            android:name=".permission.bridge.BridgeService"
            android:exported="false"
            android:permission="${applicationId}.andpermission.bridge"
            android:process=":permission">
            <intent-filter>
                <action android:name="${applicationId}.andpermission.bridge" />
            </intent-filter>
        </service>

        <activity
            android:name=".permission.bridge.BridgeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:permission="${applicationId}.andpermission.bridge"
            android:process=":permission"
            android:theme="@style/Permission.Theme.Activity.Transparent" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="designwidth"
            android:value="720" /> <!-- 设计图的宽,单位是像素,推荐用markman测量,量出来如果是750px那么请尽量去找ui设计师要一份android的设计图. -->
        <meta-data
            android:name="designdpi"
            android:value="320" /> <!-- //设计图对应的标准dpi,根据下面的那张图找到对应的dpi,比如1080就对应480dpi,如果拿到的是其他宽度的设计图,那么选择一个相近的dpi就好了 -->
        <meta-data
            android:name="fontsize"
            android:value="1.0" /> <!-- //全局字体的大小倍数,有时候老板会觉得你的所有的字小了或者大了,你总不能一个一个去改吧 -->
        <meta-data
            android:name="unit"
            android:value="dp" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>